@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  transition: all 0.2s ease-in-out;
}
